.mobile_search_title_content
  .mobile_search_title_contentt::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.mobile_search_title_content::-webkit-scrollbar {
  height: 3px;
  width: 3px;
  border-radius: 20px;
}

.mobile_search_title_content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(109, 109, 109, 0.3);
  border-radius: 20px;
}

/*no results found message*/
@media (max-width: 300px) {
  .change__no__results__found__styles {
    font-size: 1rem !important;
    margin: 0 !important;
  }
}

/*
    cover image div
    */
.cover__image__div__main__topic {
  font-weight: bolder;
  line-height: 100%;
  font-size: 50px;
  text-transform: uppercase;
  width: 100%;
  color: rgb(255, 255, 255);
}
@media (max-width: 350px) {
  .cover__image__div__main__topic {
    font-size: 35px !important;
  }
}
@media (max-width: 768px) {
  .cover__image__div__main__topic {
    font-size: 40px;
  }
}

/*phones*/
.mobile__search__container {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: transform 0.3s;
}
.mobile__search__container:hover {
  border: 2px solid rgba(255, 255, 255, 0.945);
  transform: scale(1.01);
  opacity: 0.9;
}
.mobile__search__container__content {
  width: 140px;
  overflow-y: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.mobile__search__container__content a {
  color: rgba(0, 0, 0, 0.781);
  text-decoration: none;
}
.mobile__search__container__content h1 {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.mobile__search__container__image img {
  width: 70%;
  overflow: hidden;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*reviews*/
.mobile__search__container__reviews {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: transform 0.3s;
}
.mobile__search__container__image__reviews img {
  width: 100;
  overflow: hidden;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mobile__search__container__content__reviews {
  width: 160px;
  overflow-y: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.mobile__search__container__reviews:hover {
  border: 1px solid rgba(202, 28, 28, 0.945);
  transform: scale(1.01);
  opacity: 0.9;
}
.mobile__search__container__content__reviews a {
  color: rgba(0, 0, 0, 0.781);
  text-decoration: none;
}
.mobile__search__container__content__reviews h1 {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/*news*/
.news__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.781);
  text-decoration: none;
}
.image__news {
  position: relative;
  width: 200px;
  height: 140px;
  margin-right: 15px !important;
  margin: 0;
}
.image__news img {
  position: relative;
  object-fit: cover;
  height: 140px;
  width: 200px;
  text-decoration: none;
  border-radius: 4px;
  background-repeat: no-repeat;
}
.news__container:hover .content__div h1 {
  color: rgba(202, 28, 28, 0.945) !important;
}

.content__news {
  width: calc(100% - 235px);
  padding: 0;
  height: 150px;
  overflow-y: auto;
  word-wrap: break-word;
}
.content__div h1 {
  top: 0;
  font-size: 18px;
  width: 100%;
  color: rgba(0, 0, 0, 0.781);
  line-height: 110%;
  word-wrap: break-word;
  padding-bottom: 0px;
  font-family: Arial;
  font-weight: 750;
  margin: 0;
  margin-bottom: 4px;
}
.excerpt_div {
  cursor: text;
  margin: 0;
  padding: 0;
}
.excerpt_div p {
  line-height: 110%;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.85);
}
.author__div span {
  font-size: 10px;
  text-align: left;
  font-weight: 500;
  color: #505050;
  margin: 0;
  line-height: 110%;
}
.author__div {
  cursor: text;
  bottom: 0;
  position: relative;
  font-size: 10px;
  text-align: left;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .image__news {
    width: 200px;
    height: 140px;
    margin-right: 10px !important;
  }
  .content__news {
    width: calc(100% - 210px);
    height: 140px;
  }
  .image__news img {
    height: 140px;
    width: 200px;
  }

  .content__div h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .image__news {
    width: 200px;
    height: 140px;
    margin-right: 10px !important;
  }
  .content__news {
    width: calc(100% - 210px);
    height: 140px;
  }
  .image__news img {
    height: 140px;
    width: 200px;
  }
  .content__div h1 {
    font-size: 16px;
    line-height: 100%;
  }
}

@media screen and (max-width: 575px) {
  .image__news {
    width: 200px;
    height: 140px;
    margin-right: 10px !important;
  }
  .content__news {
    width: calc(100% - 210px);
    height: 140px;
  }
  .image__news img {
    height: 140px;
    width: 200px;
  }
  .content__div h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .image__news {
    width: 170px;
    height: 110px;
    margin-right: 10px !important;
  }
  .content__news {
    width: calc(100% - 210px);
    height: 110px;
    word-wrap: break-word !important;
  }
  .image__news img {
    height: 110px;
    width: 170px;
  }
  .content__div h1 {
    font-size: 16px;
    word-wrap: break-word !important;
  }
  .excerpt_div {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .image__news {
    width: 110px;
    height: 90px;
    margin-right: 10px !important;
  }
  .content__news {
    width: calc(100% - 120px);
    overflow-y: visible;
    height: auto;
  }
  .image__news img {
    height: 90px;
    width: 110px;
  }
  .content__div h1 {
    font-size: 14px;
  }
  .excerpt_div {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .news__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 4px;
  }
  .image__news {
    width: 100%;
    height: 140px;
  }
  .content__news {
    width: 100%;
    height: auto;
  }
  .image__news img {
    height: 140px;
    width: 100%;
  }
  .content__div {
    height: auto;
  }
  .content__div h1 {
    font-size: 16px;
    height: auto;
  }
}
